<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<nav th:replace="~{fragments :: navigation}"></nav>
<h2 th:text="${pageTitle}"></h2>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h5 th:unless="${petitions} and ${petitions.size()}">There are no Petitions to view at present, add one or come back later...</h5>
        </div>
        <div class="col-12">
            <ul>
                <li th:each="petition : ${petitions}">
                    <a th:href="@{/result/{petitionTitle}(petitionTitle=${petition.petitionTitle})}" th:text="${petition.petitionTitle}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>